@font-face{
font-family: Bubbly;
src: url(Assets/fonts/Bubbly\ Font.ttf);
}

@font-face {
    font-family: SuperSunday;
    src: url(Assets/fonts/Super\ Sunday.ttf);
}

/*-----------------------------------------------
 Styles Généraux
 ------------------------------------------------ */

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    margin: 0;
    --DarkGreen: #36453b;
    --DimGray: #596869;
    --Ebony: #515751;
    --Ivory: #F5F9E9;
    --Sage: #C2C1A5;
}

header{
    background-image: url(Assets/img_arriere_plan/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header h1{
    display: block;
    text-align: center;
    width: 40vw;
    margin: auto;
    padding-bottom: 20px;
    top: 40%;
    position: relative;
    font-family: Bubbly;
    font-size: 4vw;
    color: var(--Sage);
}

header h2{
    text-align: center;
    width: 40vw;
    margin: auto;
    top: 40%;
    position: relative;
    font-family: Bubbly;
    font-size: 2vw;
    color: var(--Sage);
}

header svg{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 63%;
    left: 46%;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: var(--DimGray)
}

footer h1:first-of-type{
    position: absolute;
    color: var(--Ivory);
    width: 42vw;
    font-size: 20px;
    left: 0%;
    padding: 15px;
    font-family: Bubbly;
}

footer h1:last-of-type{
    position: absolute;
    color: var(--Ivory);
    width: 42vw;
    font-size: 20px;
    text-align: right;
    right: 0%;
    padding: 15px;
    font-family: Bubbly;
}

/*-----------------------------------------------
 Transition 0-1
 ------------------------------------------------ */
#Transition0-1{
   background-image: url(Assets/img_arriere_plan/01_fond.svg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
   position: relative;
}

#Transition0-1 #TitreTransi0{
   position: relative;
   width: 54vw;
   font-family: SuperSunday;
   text-align: center;
   margin: auto;
   top: 30%;
   font-size: 2vw;
   z-index: 1;
   color: var(--DarkGreen);
}

#Transition0-1 #troisarbres0{
   position: absolute;
   top: 0%;
   z-index: 1;
   height: 120vh;
   width: 80vw;
   left: -80%;
}


/*-----------------------------------------------
 Chapitre 1
 ------------------------------------------------ */
#Chap1{
    background-image: url(Assets/img_arriere_plan/01_fond.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#Chap1 h2{
    position: relative;
    width: 54vw;
    font-family: SuperSunday;
    text-align: center;
    margin: auto;
    top: 20%;
    font-size: 2vw;
    z-index: 1;
    color: var(--DarkGreen);
}

#Chap1 #ArbreBas{
    position: absolute;
    width: 100vw;
    bottom: 0%;
    z-index: 2;
}

#Chap1 #ArbreHaut{
    position: absolute;
    top: 32%;
    z-index: 1;
    width: 110vw;
}

#Chap1 #Lac{
    position: absolute;
    width: 100vw;
    bottom: 10%;
    right: -10%;
    height: 20vh;
    z-index: 0;
}

/*-----------------------------------------------
 Transition 1-2
 ------------------------------------------------ */

 /*-----------------------------------------------
 Chapitre 2
 ------------------------------------------------ */

#Chap2{
    background-image: url(Assets/img_arriere_plan/02_fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    width: 100vw;
    position: relative;
}

#Chap2 h2{
    position: relative;
    width: 54vw;
    font-family: SuperSunday;
    text-align: center;
    margin: auto;
    top: 20%;
    font-size: 2vw;
    z-index: 1;
}

#Chap2 #Oiseau{
   height: 10vh;
   position: absolute;
   top: 40%;
   left: 70%;
}

/*-----------------------------------------------
 Transition 2-3
 ------------------------------------------------ */

 /*-----------------------------------------------
 Chapitre 3
 ------------------------------------------------ */

 #Chap3{
    background-image: url(Assets/img_arriere_plan/03_fond.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 240vh;
    width: 130vw;
    position: relative;
 }

 #Chap3 h2{
    position: absolute;
    width: 54vw;
    font-family: SuperSunday;
    text-align: center;
    left: 17%;
    top: 10%;
    font-size: 2vw;
    z-index: 1;
 }

 #Chap3 #Oiseau{
    position: absolute;
    height: 20vh;
    left: 34%;
    top: 30%;
 }

 /*-----------------------------------------------
 Transition 3-4
 ------------------------------------------------ */
 #Transition3-4{
   background-image: url(Assets/img_arriere_plan/01_fond.svg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
   position: relative;
}

#Transition3-4 #TitreTransi4{
   position: relative;
   width: 54vw;
   font-family: SuperSunday;
   text-align: center;
   margin: auto;
   top: 30%;
   font-size: 2vw;
   z-index: 1;
   color: var(--DarkGreen);
}

#Transition3-4 #troisarbres4{
   position: absolute;
   top: 0%;
   z-index: 1;
   height: 120vh;
   width: 80vw;
   left: -80%;
}
 /*-----------------------------------------------
 Chapitre 4
 ------------------------------------------------ */

 #Chap4{
    background-image: url(Assets/img_arriere_plan/04_scene.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    width: 100vw;
    position: relative;
 }

 #Chap4 h2{
    position: relative;
    width: 54vw;
    font-family: SuperSunday;
    text-align: center;
    margin: auto;
    top: 20%;
    font-size: 2vw;
    z-index: 1;
 }

 /*-----------------------------------------------
 Transition 4-5
 ------------------------------------------------ */

 /*-----------------------------------------------
 Chapitre 5
 ------------------------------------------------ */
 #Chap5{
    background-image: url(Assets/img_arriere_plan/05_fond.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    width: 100vw;
    position: relative;
 }

 #Chap5 h2{
    position: relative;
    width: 54vw;
    font-family: SuperSunday;
    text-align: center;
    margin: auto;
    top: 20%;
    font-size: 2vw;
 }
  
 #Chap5 #Cerf{
    position: absolute;
    height: 40vh;
    bottom: 3%;
    left: 20%;
 }

 #Chap5 #Lapin{
    position: absolute;
    height: 20vh;
    bottom: 3%;
    right: 30%;
    z-index: 1;
 }

 /*-----------------------------------------------
 Transition 5-6
 ------------------------------------------------ */

 /*-----------------------------------------------
 Chapitre 6
 ------------------------------------------------ */

 #Chap6{
    background-image: url(Assets/img_arriere_plan/06_fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    width: 100vw;
    position: relative;
 }

 #Chap6 h2{
    position: relative;
    width: 54vw;
    font-family: SuperSunday;
    text-align: center;
    margin: auto;
    top: 20%;
    font-size: 2vw;
    z-index: 1;
 }

 #Chap6 #Loup{
    position: absolute;
    height: 40vh;
    bottom: 3%;
    left: 40%;
    z-index: 2;
 }

 #Chap6 #Cerf{
    position: absolute;
    height: 50vh;
    bottom: 1%;
    left: 20%;
    z-index: 2;
 }

 #Chap6 #Lapin{
    position: absolute;
    height: 30vh;
    bottom: 3%;
    left: 60%;
    z-index: 2;
 }

 #Chap6 #Nuage1{
    position: absolute;
    height: 15vh;
    right: -20%;
    top: 7%;
    z-index: 0;
 }

 #Chap6 #Nuage2{
    position: absolute;
    height: 15vh;
    top: 15%;
    right: -20%;
    z-index: 0;
 }

 #Chap6 #Nuage3{
    position: absolute;
    height: 15vh;
    top: 25%;
    right: -20%;
    z-index: 0;
 }

 #Chap6 #Nuage4{
    position: absolute;
    height: 15vh;
    top: 8%;
    right: -20%;
    z-index: 0;
 }

 #Chap6 #Nuage5{
    position: absolute;
    height: 15vh;
    top: 23%;
    right:-20%;
    z-index: 0;
 }

 #Chap6 #Arbre1{
    position: absolute;
    height: 40vh;
    top: 30%;
    right: -20%;
    z-index: 1;
 }

 #Chap6 #Arbre2{
    position: absolute;
    height: 40vh;
    top: 45%;
    right: -20%;
    z-index: 1;
 }

 #Chap6 #Arbre3{
    position: absolute;
    height: 40vh;
    top: 32%;
    right: -20%;
    z-index: 1;
 }

 #Chap6 #Arbre4{
    position: absolute;
    height: 40vh;
    top: 41%;
    right: -20%;
    z-index: 1;
 }

 #Chap6 #Arbre5{
    position: absolute;
    height: 40vh;
    top: 35%;
    right: -20%;
    z-index: 1;
 }